<nav class="navbar navbar-light bg-light">
  <a routerLink="/entrada" routerLinkActive="active" class="btn btn-warning">Volver</a>
</nav>



<div id="container" style="width: 70%; padding: 30px; margin: auto;" *ngIf="curso">
  <div class="card text-center" style="margin: 10px" *ngIf="!mostrarMensajeExito && !mostrarMensajeFrasaco">
    <div class="card-header">
      {{anio}}
      <div *ngIf="esModoDesarrollo()" class="btn btn-warning" (click)="rellenarDatosPrueba()">Rellenar</div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{nombreCurso}}</h5>

      <table class="table">
        <tr>
          <td>
            <label>Nombre:</label>
          </td>
          <td>
            <input type="text" [(ngModel)]="asistente.nombre" placeholder="Nombre">
          </td>
        </tr>
        <tr>
          <td>
            <label>Apellidos:</label>
          </td>
          <td>
            <input type="text" [(ngModel)]="asistente.apellidos" placeholder="Apellidos">
          </td>
        </tr>
        <tr>
          <td>
            <label>Email:</label>
          </td>
          <td>
            <input type="email" [(ngModel)]="asistente.email" #email placeholder="Email" required>
          </td>
        </tr>
        <tr>
          <td>
            <label>Repetir Email:</label>
          </td>
          <td>
            <input type="email" #emailRepetido placeholder="Repetir Email" required>
          </td>
        </tr>
        <tr>
          <td>
            <label>DNI:</label>
          </td>
          <td>
            <input type="text" [(ngModel)]="asistente.dni" #dni placeholder="8 dígitos con letra" maxlength="9" pattern="[0-9]{8}[A-Za-z]">
          </td>
        </tr>
        <tr *ngIf="curso.movil==1">
          <td>
            <label>Móvil</label>
          </td>
          <td>
            <input type="text" [(ngModel)]="asistente.codigo_pais" maxlength="4" size="4" placeholder="34" pattern="[0-9]{1,4}">
            <input type="text" [(ngModel)]="asistente.movil" maxlength="9" size="9" pattern="[0-9]{9}">
          </td>
        </tr>
        <tr>
          <td>
            <label>Pasaporte:</label>
          </td>
          <td>
            <input type="text" [(ngModel)]="asistente.pasaporte" #pasaporte placeholder="No es obligatorio">
          </td>
        </tr>
        <tr>
          <td>
            <label>Socio:</label>
          </td>
          <td>
            <select  [(ngModel)]="asistente.socio">
              <option value=0 selected>No</option>
              <option value=1>Sí</option>
            </select>
          </td>
        </tr>
        <tr *ngIf="curso.transporte==1">
          <td>
            <label>Transporte:</label>
          </td>
          <td>
            <select [(ngModel)]="asistente.transporte">
              <option value="Coche" selected>Coche</option>
              <option value="Bus">Bus</option>
            </select>
          </td>
        </tr>
        <tr *ngIf="curso.habitacion==1">
          <td>
            <label>Habitación:</label>
          </td>
          <td>
            <select [(ngModel)]="asistente.habitacion">
              <option value="Simple" selected>Simple</option>
              <option value="Doble">Doble</option>
              <option value="Indiferente">Indiferente</option>
            </select>
          </td>
        </tr>
        <tr *ngIf="curso.cena==1">
          <td>
            <label>Cena:</label>
          </td>
          <td>
            <select  [(ngModel)]="asistente.cena">
              <option value=0 selected>No</option>
              <option value=1>Sí</option>
            </select>
          </td>
        </tr>
      </table>
      <label *ngIf="mensaje" class="text-danger">{{mensaje}}</label>
      <button class="btn btn-primary"
        (click)="apuntarse(asistente, email.value, emailRepetido.value, dni.value, pasaporte.value)">Apuntarse
        al curso</button>

    </div>
  </div>

  <div class="card text-center" style="margin: 10px" *ngIf="mostrarMensajeFrasaco">
      <div class="card-body">
          <h2 class="text-danger">Ha ocurrido un problema al inscribirse al curso</h2>
      </div>
  </div>

  <div class="card text-center" style="margin: 10px" *ngIf="mostrarMensajeExito">
      <div class="card-body">
          <h2 class="text-success">Te has inscrito al curso</h2>
      </div>
  </div>

</div>

