<app-nav-bar-ponente></app-nav-bar-ponente>
<br />

<div class="container">

  <div class="card" *ngIf="curso">
    <div class="card-header">
      {{curso[0].anio}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{curso[0].nombre}}</h5>
      <p class="card-text" *ngIf="curso[0].maximos_participantes">Máximo {{ curso[0].maximos_participantes }}
        participantes</p>
      <p class="card-text" *ngIf="!curso[0].maximos_participantes">Sin límite de admisión</p>
    </div>
  </div>

  <hr>

  <table class="table table-light">
    <thead>
      <tr>
        <th scope="col">Índice</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Dni</th>
        <th scope="col">Pasaporte</th>
        <th scope="col">Socio</th>
        <th scope="col">Fecha Inscripción</th>
        <th scope="col">Transporte</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of asistentes; let i = index" [ngClass]="(tienePlaza(i)) ? '': 'text-warning'">
        <td>{{ i + 1 }}</td>
        <td *ngIf="editandoEsteAsistente(i)"> <input value={{a.nombre}} [(ngModel)]="a.nombre" type="text"> <input
            value={{a.apellidos}} [(ngModel)]="a.apellidos" type="text"></td>
        <td *ngIf="!editandoEsteAsistente(i)">{{a.nombre}} {{a.apellidos}}</td>
        <td *ngIf="editandoEsteAsistente(i)"> <input [(ngModel)]="a.email" value={{a.email}} type="email"> </td>
        <td *ngIf="!editandoEsteAsistente(i)">{{a.email}}</td>
        <td *ngIf="editandoEsteAsistente(i)"> <input [(ngModel)]="a.dni" value={{a.dni}} type="text">
        <td *ngIf="!editandoEsteAsistente(i)">{{a.dni}}</td>
        <td *ngIf="editandoEsteAsistente(i)"> <input [(ngModel)]="a.pasaporte" value={{a.pasaporte}} type="text">
        <td *ngIf="!editandoEsteAsistente(i)">{{a.pasaporte}}</td>
        <td *ngIf="editandoEsteAsistente(i)">
          <select [(ngModel)]="a.socio">
            <option value="1" [selected]="a.socio ==1">Socio</option>
            <option value="0" [selected]="a.socio ==0">No socio</option>
          </select>
        </td>
        <td *ngIf="a.socio == 1 && !editandoEsteAsistente(i)">socio</td>
        <td *ngIf="a.socio == 0 && !editandoEsteAsistente(i)">no socio</td>
        <td *ngIf="editandoEsteAsistente(i)"> <input [(ngModel)]="a.fecha_inscripcion" value={{a.fecha_inscripcion}}
            type="datetime">
        <td *ngIf="!editandoEsteAsistente(i)">{{a.fecha_inscripcion}}</td>
        <td *ngIf="editandoEsteAsistente(i)">
          <select [(ngModel)]="a.transporte">
            <option value="Coche" [selected]='a.transporte =="Coche"'>Coche</option>
            <option value="Bus" [selected]='a.transporte =="Bus"'>Bus</option>
          </select>
        </td>
        <td *ngIf="!editandoEsteAsistente(i)">{{a.transporte}}</td>
        <td>
          <div *ngIf="editandoRegistro()" class="btn btn-warning"
            (click)="irEditandoAsistente(i)">Editar</div>
          <div *ngIf="editandoEsteAsistente(i)" class="btn btn-success"
            (click)="guardarAsistente(a)">Guardar</div>
        </td>
        <td>
          <div [style.visibility]="editandoRegistro() ? 'visible' : 'hidden'" class="btn btn-danger"
            (click)="eliminarAsistente(a, i)">Eliminar</div>
        </td>
      </tr>

    </tbody>
  </table>

  <hr>

  <div class="card">
    <div class="card-header">
      Emails
    </div>
    <div class="card-body">
      {{listaEmails}}
    </div>
  </div>

  <hr>

  <div class="card">
    <div class="card-header">
      Admitidos
    </div>
    <table>
      <tr *ngFor="let a of asistentes; let i = index" [ngClass]="(tienePlaza(i)) ? '': 'text-warning'">
        <td>{{a.nombre}} {{a.apellidos}}</td>
        <td *ngIf="a.socio == 1"> Socio </td>
        <td *ngIf="a.socio == 0"> no Socio </td>
        <td *ngIf="tienePlaza(i)"> Admitido </td>
        <td *ngIf="!tienePlaza(i)"> No Admitido </td>
      </tr>
    </table>
  </div>

  <div *ngIf="listaAdmitidosCoche!=''">
  <hr>

  <div class="card">
    <div class="card-header">
      Admitidos en Coche
    </div>
    <div class="card-body">
      {{listaAdmitidosCoche}}
    </div>
  </div>

  <div *ngIf="listaAdmitidosBus!=''">
    <hr>
  
    <div class="card">
      <div class="card-header">
        Admitidos en Bus
      </div>
      <div class="card-body">
        {{listaAdmitidosBus}}
      </div>
    </div>
  <hr>
</div>

<div *ngIf="listaNoAdmitidosCoche!=''">
  <div class="card">
    <div class="card-header">
      No Admitidos en Coche
    </div>
    <div class="card-body">
      {{listaNoAdmitidosCoche}}
    </div>
  </div>
<hr>
</div>

<div *ngIf="listaNoAdmitidosBus!=''">
  <div class="card">
    <div class="card-header">
      No Admitidos en Bus
    </div>
    <div class="card-body">
      {{listaNoAdmitidosBus}}
    </div>
  </div>
<hr>
</div>

</div>