<app-nav-bar-ponente></app-nav-bar-ponente>
<br/>

<div class="container">

  <div class="card" *ngIf="curso">
      <div class="card-header">
          {{curso[0].anio}}
      </div>
        <div class="card-body">
          <h5 class="card-title">{{curso[0].nombre}}</h5>
          <p class="card-text" *ngIf="curso[0].maximos_participantes">Máximo {{ curso[0].maximos_participantes }} participantes</p>
          <p class="card-text" *ngIf="!curso[0].maximos_participantes">Sin límite de admisión</p>
      </div>
  </div>
  


  <div class="card">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Índice</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Dni</th>
        <th scope="col">Pasaporte</th>
        <th scope="col">Socio</th>
        <th scope="col">Fecha Inscripción</th>
        <th scope="col">Fecha Baja</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of asistentes; let i = index"  [ngClass]="(tienePlaza(i)) ? '': 'text-info' "  >
        <td>{{ i + 1 }}</td>
        <td>{{a.nombre}} {{a.apellidos}}</td>
        <td>{{a.email}}</td>
        <td>{{a.dni}}</td>
        <td>{{a.pasaporte}}</td>
        <td *ngIf="a.socio == 1">socio</td>
        <td *ngIf="a.socio == 0">no socio</td>
        <td>{{a.fecha_inscripcion}}</td>
        <td>{{a.fecha_baja}}</td>
        <td>
            <button class="btn btn-warning">Editar</button>                
        </td>
        <td>
            <button class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

