<app-nav-bar-ponente></app-nav-bar-ponente>
<br/>
<div class="card-columns container">
    <div *ngFor="let c of cursos" class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{c.nombre}} {{c.anio}}</h5>
            <p class="card-text" *ngIf="c.maximos_participantes">Máximo {{ c.maximos_participantes }} participantes</p>
            <p class="card-text" *ngIf="!c.maximos_participantes">Sin límite de admisión</p>
            <a (click)="verDetalle(id.textContent)" class="btn btn-primary">Editar Curso</a>
        </div>
        <div class="card-footer text-muted">
            {{c.fecha_creacion}}
          </div>
        <label hidden #id>{{c.id}}</label>
    </div>
</div> 